* {
  box-sizing: border-box;
}

html {
  -webkit-text-size-adjust: 100%;
  font-feature-settings: normal;
  font-family: ui-sans-serif, system-ui, -apple-system, BlinkMacSystemFont, Segoe UI, Roboto, Helvetica Neue, Arial, Noto Sans, sans-serif, Apple Color Emoji, Segoe UI Emoji, Segoe UI Symbol, Noto Color Emoji;
  font-variation-settings: normal;
  line-height: 1.5;
  -moz-tab-size: 4;
  -o-tab-size: 4;
  tab-size: 4;
  scroll-behavior: smooth;
}

body {
  font-family: "Inter", sans-serif;
  font-optical-sizing: auto;
  font-style: normal;
  font-variation-settings: "slnt" 0;
  position: relative;
  margin: 0;
  min-height: 100vh;
}

.default-transition, .blue-button {
  transition-duration: 0.5s;
  transition-property: all;
  transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
}

button {
  background-color: transparent;
  outline: none;
  border: none;
  cursor: pointer;
}

p {
  margin: 0;
}

ul {
  margin: 0;
  padding: 0;
  list-style: none;
}

li {
  text-decoration: none;
}

a {
  color: black;
  text-decoration: none;
}

.d-flex {
  display: flex;
  align-items: center;
}

.all-hide {
  visibility: hidden;
  position: fixed;
  z-index: 0;
  opacity: 0.5;
  width: 100%;
  height: 100%;
  background-color: rgb(219, 220, 229);
}
.all-hide.open {
  visibility: visible;
  transition: all 0.3s ease-in-out;
}

.header {
  width: 100%;
  padding: 1.75rem 2.5rem;
  position: relative;
}
.header-content {
  display: flex;
  justify-content: space-between;
  align-items: center;
  position: relative;
  z-index: 2;
}
.header-menu {
  position: fixed;
  display: flex;
  width: 100%;
  left: 0;
  top: 0;
  height: 100%;
  background-color: white;
  z-index: 0;
  max-height: 0;
  visibility: hidden;
  transition: all 0.3s ease-in-out;
}
.header-menu.open {
  max-height: 400px;
  visibility: visible;
}

.header-menu__container {
  max-width: 1200px;
  width: 100%;
  margin: 0 auto;
  position: relative;
}

.header-menu__content {
  transition: all 0.3s ease-in-out;
  opacity: 0;
  position: absolute;
  top: 120px;
  left: 0;
  display: flex;
  width: 100%;
}
.header-menu__content > div {
  width: 100%;
  gap: 120px;
  justify-content: space-between;
}
.header-menu__content.show {
  opacity: 1;
}
.header-menu__content img {
  width: 170px;
  height: 200px;
}
.header-menu__content nav img {
  width: 30px;
  height: 30px;
  margin-right: 20px;
}
.header-menu__content strong {
  font-size: 1rem;
  font-weight: 600;
  color: rgb(36, 36, 38);
  line-height: 1.125rem;
}
.header-menu__content .after-strong {
  line-height: 0.875rem;
  font-size: 0.875rem;
  color: rgb(36, 36, 38);
}
.header-menu__content a:hover strong,
.header-menu__content a:hover p {
  text-decoration: underline;
}

.header-menu__nav {
  display: grid;
  width: 100%;
  grid-template-columns: repeat(3, 1fr);
  grid-template-rows: repeat(2, 1fr);
  gap: 12px;
}

.nav-list {
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.nav-list li {
  font-size: 0.875rem;
  color: #242424;
  line-height: 100%;
  cursor: pointer;
  padding: 20px;
}

.h-auto {
  height: auto;
}

.text-trustBlue, .footer-download a {
  --tw-text-opacity: 1;
  color: rgb(5, 0, 255);
}

.blue-button {
  color: white;
  font-weight: 500;
  line-height: 0.9375rem;
  font-size: 1rem;
  padding: 0 1.25rem;
  position: relative;
  border-radius: 9999px;
  background-color: rgb(5, 0, 255);
  text-transform: capitalize;
  display: flex;
  justify-content: center;
  align-items: center;
  margin-left: 40px;
  height: 36px;
}
.blue-button:hover {
  color: rgb(27, 27, 28);
  background-color: rgb(72, 255, 145);
}

.download {
  margin: 64px 0 5rem;
  padding: 0 40px;
}
@media (max-width: 768px) {
  .download {
    margin-bottom: 16px;
  }
}
.download-content {
  padding: 64px 100px;
  background-color: #0500ff;
  color: white;
  border-radius: 30px;
  max-width: 1200px;
  width: 100%;
  margin: 0 auto;
}
@media (max-width: 768px) {
  .download-content {
    padding: 20px 40px;
  }
}
.download-title {
  font-size: 3.25rem;
  line-height: 3.75rem;
  margin: 0;
}
@media (max-width: 768px) {
  .download-title {
    font-size: 2.375rem;
    line-height: 2.8rem;
  }
}
.download-description {
  font-size: 1.125rem;
  line-height: 1.625rem;
  margin-top: 24px;
}

.apps {
  max-width: 1000px;
  width: 100%;
  margin: 0 auto 80px;
  padding: 0 40px;
}
.apps-content {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  gap: 1.5rem;
}
@media (max-width: 768px) {
  .apps-content {
    grid-template-columns: 1fr;
  }
}
.apps-content__item {
  padding: 40px;
  background-image: linear-gradient(323deg, #f4f4f7, rgba(244, 244, 247, 0) 100%);
  border: 1px solid rgb(219, 220, 229);
  border-radius: 30px;
}
.apps-content__item img {
  width: 65px;
  height: 65px;
}
.apps-content a {
  display: flex;
  flex-direction: column;
  gap: 1.75rem;
}
.apps-content__title {
  font-size: 1.875rem;
  line-height: 2.0625rem;
  letter-spacing: -0.025em;
  color: rgb(27, 27, 28);
  font-weight: 700;
}
.apps-content__description {
  font-size: 1.125rem;
  line-height: 1.625rem;
  letter-spacing: -0.025em;
  color: rgb(27, 27, 28);
}

.footer {
  max-width: 1200px;
  width: 100%;
  margin: 0 auto 40px;
  padding: 48px 80px;
  border-radius: 30px;
  border: 1px solid rgb(219, 220, 229);
  background-color: rgb(244, 244, 247);
  display: grid;
  grid-template-areas: "logo list list" "logo download social";
  gap: 20px;
}
@media (max-width: 1024px) {
  .footer {
    grid-template-areas: "social" "list" "download" "logo";
    align-items: center;
    gap: 40px;
  }
}
.footer-logo {
  display: flex;
  flex-direction: column;
  justify-content: center;
  max-width: 180px;
  grid-area: logo;
}
.footer-logo img {
  max-width: 180px;
}
.footer-logo img + img {
  margin-top: 16px;
}
@media (max-width: 1024px) {
  .footer-logo {
    margin: 0 auto;
  }
}
.footer-lists {
  grid-area: list;
  display: flex;
  justify-content: space-between;
  align-items: flex-start;
}
.footer-lists strong {
  font-size: 0.75rem;
  line-height: 1.125rem;
  color: rgb(36, 36, 38);
}
.footer-lists li {
  max-width: 110px;
}
.footer-lists li nav {
  margin-top: 16px;
  display: grid;
  gap: 0.5rem;
}
.footer-lists a {
  font-size: 0.9375rem;
  line-height: 1.375rem;
  color: rgb(27, 27, 28);
}
.footer-download {
  grid-area: download;
  max-width: 406px;
}
@media (max-width: 1024px) {
  .footer-download {
    max-width: 100%;
  }
}
.footer-download strong {
  font-size: 0.75rem;
  line-height: 1.125rem;
  color: rgb(36, 36, 38);
}
@media (max-width: 1024px) {
  .footer-download strong {
    display: inline-block;
    text-align: center;
    width: 100%;
  }
}
.footer-download p {
  line-height: 1.375rem;
  font-size: 0.75rem;
  color: rgb(27, 27, 28);
  margin: 4px 0 16px;
}
@media (max-width: 1024px) {
  .footer-download p {
    text-align: center;
  }
}
.footer-download a {
  font-weight: 500;
  line-height: 0.9375rem;
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 10px 20px;
  border: 1px solid rgb(5, 0, 255);
  border-radius: 9999px;
  font-size: 13px;
  transition: all 0.3s ease-in-out;
}
@media (max-width: 1024px) {
  .footer-download a {
    justify-content: center;
    gap: 10px;
    max-width: 330px !important;
  }
}
.footer-download a:hover {
  color: white;
  background-color: rgb(5, 0, 255);
}
.footer-download a:hover path {
  fill: white !important;
}
.footer-download a img {
  width: 16px;
  height: 18px;
}
.footer-download a svg {
  position: relative;
  top: -2px;
}
.footer-download__actions {
  display: flex;
  flex-wrap: wrap;
  gap: 0.75rem;
}
@media (max-width: 1024px) {
  .footer-download__actions {
    flex-direction: column;
  }
}
.footer-socials {
  grid-area: social;
  display: flex;
  flex-direction: column;
  justify-content: flex-end;
}
@media (max-width: 1024px) {
  .footer-socials {
    margin: 0 auto;
  }
  .footer-socials strong {
    text-align: center;
  }
}
.footer-socials__list {
  margin-top: 25px;
  display: flex;
  align-items: center;
  gap: 0.75rem;
}
@media (max-width: 1024px) {
  .footer-socials__list {
    margin-top: 12px;
  }
}

.text-trustBlack {
  color: rgb(27, 27, 28);
}

/*# sourceMappingURL=index.css.map */
