* {
    box-sizing: border-box;
}

html {
    -webkit-text-size-adjust: 100%;
    font-feature-settings:    normal;
    font-family:              ui-sans-serif, system-ui, -apple-system, BlinkMacSystemFont, Segoe UI, Roboto, Helvetica Neue, Arial, Noto Sans, sans-serif, Apple Color Emoji, Segoe UI Emoji, Segoe UI Symbol, Noto Color Emoji;
    font-variation-settings:  normal;
    line-height:              1.5;
    -moz-tab-size:            4;
    -o-tab-size:              4;
    tab-size:                 4;
    scroll-behavior:          smooth;
}

body {
    font-family:             'Inter', sans-serif;
    font-optical-sizing:     auto;
    font-style:              normal;
    font-variation-settings: 'slnt' 0;
    position:                relative;
    margin:                  0;
    min-height:              100vh;
}

.default-transition {
    transition-duration:        .5s;
    transition-property:        all;
    transition-timing-function: cubic-bezier(.4, 0, .2, 1);
}

button {
    background-color: transparent;
    outline:          none;
    border:           none;
    cursor:           pointer;
}

p {
    margin: 0;
}

ul {
    margin:     0;
    padding:    0;
    list-style: none;
}

li {
    text-decoration: none;
}

a {
    color:           black;
    text-decoration: none;
}

.d-flex {
    display:     flex;
    align-items: center;
}

.all-hide {
    visibility:       hidden;
    position:         fixed;
    z-index:          0;
    opacity:          .5;
    width:            100%;
    height:           100%;
    background-color: rgb(219 220 229 / 1);

    &.open {
        visibility: visible;
        transition: all .3s ease-in-out;
    }
}

.header {
    width:    100%;
    padding:  1.75rem 2.5rem;
    position: relative;

    &-content {
        display:         flex;
        justify-content: space-between;
        align-items:     center;
        position:        relative;
        z-index:         2;
    }

    &-menu {
        position:         fixed;
        display:          flex;
        width:            100%;
        left:             0;
        top:              0;
        height:           100%;
        background-color: white;
        z-index:          0;
        max-height:       0;
        visibility:       hidden;
        transition:       all .3s ease-in-out;

        &.open {
            max-height: 400px;
            visibility: visible;
        }
    }
}

.header-menu__container {
    max-width: 1200px;
    width:     100%;
    margin:    0 auto;
    position:  relative;
}

.header-menu__content {
    transition: all .3s ease-in-out;
    opacity:    0;
    position:   absolute;
    top:        120px;
    left:       0;
    display:    flex;
    width:      100%;

    > div {
        width:           100%;
        gap:             120px;
        justify-content: space-between;
    }

    &.show {
        opacity: 1;
    }

    img {
        width:  170px;
        height: 200px;
    }

    nav img {
        width:        30px;
        height:       30px;
        margin-right: 20px;
    }

    strong {
        font-size:   1rem;
        font-weight: 600;
        color:       rgb(36 36 38 / 1);
        line-height: 1.125rem;
    }

    .after-strong {
        line-height: .875rem;
        font-size:   .875rem;
        color:       rgb(36 36 38 / 1);
    }

    a:hover {
        strong,
        p {
            text-decoration: underline;
        }
    }
}

.header-menu__nav {
    display:               grid;
    width:                 100%;
    grid-template-columns: repeat(3, 1fr);
    grid-template-rows: repeat(2, 1fr);
    gap:                   12px;
}

.nav-list {
    display:         flex;
    justify-content: space-between;
    align-items:     center;

    li {
        font-size:   .875rem;
        color:       #242424ff;
        line-height: 100%;
        cursor:      pointer;
        padding:     20px;
    }
}

.h-auto {
    height: auto;
}

.text-trustBlue {
    --tw-text-opacity: 1;
    color:             rgb(5 0 255 / 1);
}

.blue-button {
    @extend .default-transition;
    color:            white;
    font-weight:      500;
    line-height:      .9375rem;
    font-size:        1rem;
    padding:          0 1.25rem;
    position:         relative;
    border-radius:    9999px;
    background-color: rgb(5 0 255 / 1);
    text-transform:   capitalize;
    display:          flex;
    justify-content:  center;
    align-items:      center;
    margin-left:      40px;
    height:           36px;

    &:hover {
        color:            rgb(27 27 28 / 1);
        background-color: rgb(72 255 145 / 1);
    }
}

.download {
    margin:  64px 0 5rem;
    padding: 0 40px;

    @media (max-width: 768px) {
        margin-bottom: 16px;
    }

    &-content {
        padding:          64px 100px;
        background-color: #0500ff;
        color:            white;
        border-radius:    30px;
        max-width:        1200px;
        width:            100%;
        margin:           0 auto;

        @media (max-width: 768px) {
            padding: 20px 40px;
        }
    }

    &-title {
        font-size:   3.25rem;
        line-height: 3.75rem;
        margin:      0;
        @media (max-width: 768px) {
            font-size:   2.375rem;
            line-height: 2.8rem;
        }
    }

    &-description {
        font-size:   1.125rem;
        line-height: 1.625rem;
        margin-top:  24px;
    }
}

.apps {
    max-width: 1000px;
    width:     100%;
    margin:    0 auto 80px;
    padding:   0 40px;

    &-content {
        display:               grid;
        grid-template-columns: repeat(2, 1fr);
        gap:                   1.5rem;

        @media (max-width: 768px) {
            grid-template-columns: 1fr;
        }

        &__item {
            padding:          40px;
            background-image: linear-gradient(323deg, #f4f4f7, rgba(244, 244, 247, 0) 100%);
            border:           1px solid rgb(219 220 229 / 1);
            border-radius:    30px;

            img {
                width:  65px;
                height: 65px;
            }
        }

        a {
            display:        flex;
            flex-direction: column;
            gap:            1.75rem;
        }

        &__title {
            font-size:      1.875rem;
            line-height:    2.0625rem;
            letter-spacing: -.025em;
            color:          rgb(27 27 28 / 1);
            font-weight:    700;
        }

        &__description {
            font-size:      1.125rem;
            line-height:    1.625rem;
            letter-spacing: -.025em;
            color:          rgb(27 27 28 / 1);
        }
    }
}

.footer {
    max-width:        1200px;
    width:            100%;
    margin:           0 auto 40px;
    padding:          48px 80px;
    border-radius:    30px;
    border:           1px solid rgb(219 220 229 / 1);;
    background-color: rgb(244 244 247 / 1);
    display:          grid;
    grid-template-areas:
            'logo list list'
            'logo download social';
    gap:              20px;

    @media (max-width: 1024px) {
        grid-template-areas:
            'social'
            'list'
            'download'
            'logo';
        align-items: center;
        gap: 40px;
    }

    &-logo {
        display:         flex;
        flex-direction:  column;
        justify-content: center;
        max-width:       180px;
        grid-area:       logo;

        img {
            max-width: 180px;
        }

        img + img {
            margin-top: 16px;
        }

        @media (max-width: 1024px) {
            margin: 0 auto;
        }
    }

    &-lists {
        grid-area:       list;
        display:         flex;
        justify-content: space-between;
        align-items:     flex-start;

        strong {
            font-size:   .75rem;
            line-height: 1.125rem;
            color:       rgb(36 36 38 / 1);
        }

        li {
            max-width: 110px;
        }

        li nav {
            margin-top: 16px;
            display:    grid;
            gap:        .5rem;
        }

        a {
            font-size:   .9375rem;
            line-height: 1.375rem;
            color:       rgb(27 27 28 / 1);
        }
    }

    &-download {
        grid-area: download;
        max-width: 406px;

        @media (max-width: 1024px) {
            max-width: 100%;
        }


        strong {
            font-size:   .75rem;
            line-height: 1.125rem;
            color:       rgb(36 36 38 / 1);
            @media (max-width: 1024px) {
                display:    inline-block;
                text-align: center;
                width:      100%;
            }
        }

        p {
            line-height: 1.375rem;
            font-size:   .75rem;
            color:       rgb(27 27 28 / 1);
            margin:      4px 0 16px;
            @media (max-width: 1024px) {
                text-align: center;
            }
        }

        a {
            @extend .text-trustBlue;
            font-weight:     500;
            line-height:     .9375rem;
            width:           100%;
            display:         flex;
            align-items:     center;
            justify-content: space-between;
            padding:         10px 20px;
            border:          1px solid rgb(5 0 255 / 1);
            border-radius:   9999px;
            font-size:       13px;

            transition:      all .3s ease-in-out;

            @media (max-width: 1024px) {
                justify-content: center;
                gap:             10px;
                max-width:       330px !important;
            }

            &:hover {
                color:            white;
                background-color: rgb(5 0 255 / 1);

                path {
                    fill: white !important;
                }
            }

            img {
                width:  16px;
                height: 18px;
            }

            svg {
                position: relative;
                top:      -2px;
            }
        }

        &__actions {
            display:   flex;
            flex-wrap: wrap;
            gap:       .75rem;

            @media (max-width: 1024px) {
                flex-direction: column;
            }
        }
    }

    &-socials {
        grid-area:       social;
        display:         flex;
        flex-direction:  column;
        justify-content: flex-end;

        @media (max-width: 1024px) {
            margin: 0 auto;

            strong {
                text-align: center;
            }
        }

        &__list {
            margin-top:  25px;
            display:     flex;
            align-items: center;
            gap:         .75rem;

            @media (max-width: 1024px) {
                margin-top: 12px;
            }
        }
    }
}

.text-trustBlack {
    color: rgb(27 27 28 / 1);
}